
@{
    ViewBag.Title = "Spolecznosc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Spolecznosc</h2>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat varius tortor, eget posuere quam dapibus non. Vivamus interdum dolor sit amet dolor efficitur aliquet. Fusce et tristique est, non blandit nunc. Donec ipsum nisi, cursus quis mollis egestas, scelerisque at diam. Fusce sed feugiat neque. In consectetur augue vel nunc volutpat bibendum. Cras arcu purus, aliquam quis lorem nec, commodo tincidunt ipsum. Cras tincidunt aliquet purus. Suspendisse aliquam elit ut magna fringilla consequat. Morbi scelerisque ullamcorper elit, id rhoncus velit facilisis non. Morbi malesuada quam tempor mi rhoncus, non posuere diam scelerisque. Suspendisse congue interdum pretium. Mauris sagittis, ligula nec vestibulum fermentum, nulla eros sollicitudin lorem, a fringilla sapien dolor vitae eros. Vestibulum ultricies porta risus quis imperdiet. 
